<h3 style="margin-left: 150px;">Завдання до экзаменаційної роботи</h3>
<p>***********************************************</p>
    <p><strong>ВАРІАНТ 1</strong> </p>
<p>***********************************************</p>

<p>1.	Створити веб-сторінку на тему "" з використанням зображення . Забезпечити наповнення сторінки наведеними нижче структурними елементами, адаптивний дизайн з контрольною шириною  px - (максимальна оцінка* 24 бали [60%]), а також реалізацію наведених нижче функцій. (Додатково до 6 балів [+15%]). </p>

<p>2.	Додатково забезпечити навігацію на оcнові Angular routing  (зміна секції ). (Додатково до 6 балів [+15%]).</p>

<p>3.	Додатково забезпечити отримання інформації для веб-сторінки за допомогою сервісу через JSON server. (Додатково до 4 балів [+10%]).</p>

<p><strong>ЗАГАЛЬНІ ВИМОГИ: </strong></p>
<p>Структурні елементи:</p>
<p>Секція 0.	Меню сторінки 3-4 елементи, звичайний вигляд на широкому екрані, випадаючий при натисненні на кнопку – на екрані шириною менш ніж контрольна.
</p>

<p>Секція 1.   Титульна секція сайту (Hero section) на фоні зображення, визначеного у п.1 завдання.</p>

<p>Секція 2.	Блок новин на 3 новини, кожна з яких містить фото , заголовок  та скорочений текст новини, а також кнопку для виведення повного тексту новини (під час виконання пункту 3 завдання, забезпечити отримання необхідної інформації через JSON server). Розташування новин на широкому екрані у 3 стовпчики, на екрані шириною менш ніж контрольна – 1 стовпчик.</p>

<p>Секція 3.   Форма взаємодії з користувачем (). 
Якщо інше не передбачено п.2 завдання, результат виводиться у секції під формою.</p>

<p>Секція 4.	Підвал сторінки з вказанням реквізитів завдання (дата, дисципліна, група, номер варіанту,
копірайт з прізвищем та ім’ям студента). </p>

<p>Застосувати наступні засоби: HTML, SASS, TS, Angular.</p>

<p><strong>ФУНКЦІЇ ДЛЯ РЕАЛІЗАЦІЇ У  TypeScript:</strong></p>

<p>Функція 1.</p>	

<p>Функція 2.</p>	

<p>Посилання для завантаження рисунків:</p>

<p>Результати виконання завдання вивантажити у репозиторій GitHub у гілку Exam.</p>
<p>Час на виконання 1,5 години.</p>
<p>-оцінки наведені за умови успішного захисту роботи.</p>