.main{
    margin-left: 150px;
    margin-bottom: 50px;
    width: 250px;
}
.mainTitle{
    margin-left: 150px;
    padding-top: 15px;
    font-size: 24px;
    font-weight: bold;
}
.second, .third{
    border: black solid 1px;
    padding: 10px;
}
.third{
    margin-top: 10px;
}
.btn-submit{
    margin-top: 10px;
}
